-- vim:tw=120:ts=2:sw=2
--
-- 10000 Entries

INSERT INTO {{ db.tablename }} (name, hash, dim1, dim2)
SELECT (select name from names where id = FLOOR(1+rand()*37) LIMIT 1),
       MD5(1+rand()*9999),
			 FLOOR(1 + rand() * 9999),
			 rand()
	FROM {{ db.tablename }};

INSERT INTO {{ db.tablename }} (name, hash, dim1, dim2)
SELECT (select name from names where id = FLOOR(1+rand()*37) LIMIT 1),
       MD5(1+rand()*9999),
			 FLOOR(1 + rand() * 9999),
			 rand()
	FROM {{ db.tablename }};

INSERT INTO {{ db.tablename }} (name, hash, dim1, dim2)
SELECT (select name from names where id = FLOOR(1+rand()*37) LIMIT 1),
       MD5(1+rand()*9999),
			 FLOOR(1 + rand() * 9999),
			 rand()
	FROM {{ db.tablename }};

INSERT INTO {{ db.tablename }} (name, hash, dim1, dim2)
SELECT (select name from names where id = FLOOR(1+rand()*37) LIMIT 1),
       MD5(1+rand()*9999),
			 FLOOR(1 + rand() * 9999),
			 rand()
	FROM {{ db.tablename }}
 LIMIT 2000;
